/*
 * ----------------------------------------------------------------------------------------
 * Main styles.
 * ----------------------------------------------------------------------------------------
 */
 // .wrap {
 // 	    max-width: 100%;
 // }
.projects {
	h3 {margin-bottom: 30px; color: #585858; }	
	
		padding: 0 30px;
		min-height: 800px; 
}

.project {
	border: 1px solid #ddd; 
	padding: 10px 20px 0; 
	max-width: 280px; 
	max-height: 300px; 
	position: relative; 
	margin-bottom: 50px;
	float: left; 
	margin-right: 40px; 
	cursor: pointer; 
	.bug{color: $red; font-weight: bold;  font-size: 12px;  }	
	.tasks {color: #000; margin-bottom: 80px;  font-weight: bold; font-size: 12px; }
	  
}//end 
		.ps_heading h4 {margin-bottom: 40px; font-weight: bold; color: #000; }
		.pr__footer {
			border-top: 1px solid #ddd; margin-left: -20px; margin-right: -20px; padding: 10px 20px; 
			i {font-size: .7em; float: right; color: #000; padding: 4px; }
	  	}

	  	.ps__notify {
		  	position: absolute; 
		  	right: -10px; 
		  	top: 12px; 
		  	display: block; 
		  	padding: 4px 8px; 
		  	max-width: 100px;
		  	color: #000;
		  	font-weight: bold; 
		  	font-size: 12px;
	  	}
	  	.ps__notify--yello {
	  		background: $yellow;
	  	}
	  	.back-to-top {display: block;  margin-bottom: 40px; color: #000;  padding-left: 15px;}

.workspace {
	padding: 0 30px; 
	header {
		border-bottom: 1px solid #ddd; 
		margin-bottom: 5px; 
		h3 {display: inline-block; color: #585858; }	
		p {padding:24px  10px; }
	}
	.panel-default {
		margin-bottom: 40px; 
		border: 0; 

		ul {
			text-align: center; 
			margin-bottom: 0;
			li a {color: #0000cd; text-decoration: underline; font-weight: bold;   }
			
		}
		.panel-body {
    		padding: 7px;
    		background: #fff8cf; 

		}

	}

}//end

		.ws__notify {
		  	display: inline-block; 
		  	padding: 3px 8px; 
		  	max-width: 100px;
		  	color: #000;
		  	font-weight: bold;
		  	margin-left: 10px; 
		  	font-size: 12px;
		  	    vertical-align: super; 
	  	}
		  	.ws__notify--yello {
		  		background: $yellow;
		  	}

	  	.ws__discuss {
	  		margin-bottom: 50px; 
	  		.ws__discuss__inner {
	  			border: 1px solid #ddd; 
	  	   	  margin-bottom: 20px;
	  		}
	  	  
	  	  h4 {font-weight: bold; padding: 4px 20px; }
	  	  .table { margin-bottom: 0; }
	  	  .table>thead>tr>th { vertical-align: bottom; border-bottom: 0;}
	  	  .table td {width: 1%; text-align: left; padding: 8px 20px; vertical-align: baseline;}
	  	  .width-90 {width: 90% !important;}
	  	  img { display: inline-block; width: 40px; height: 40px;  margin-right: 10px; }
	  	  a {font-size: 14px; font-weight: bold; text-decoration: underline; color: #0000cd;}
	  	  
	  	  p.notes {display: inline; font-size: 12px; color: #666666; }
	  	  
	  	 
	  	  a.more { text-decoration: underline; color: #000; font-size: .8em; font-weight: bold;   }
	  	  a:hover.more { text-decoration: underline; color: #000; }

	  	}//person-summery__notes-discuss



	  	.ws__tasks {
	  		margin-bottom: 50px;
	  		.header {
	  			padding: 14px 8px 14px 0;
	  			span {margin-right: 10px; font-weight: bold; }
	  			span a { color: #328600; text-decoration: none;  &:hover { color: #328600; }  font-weight: bold;}
	  		}
	  		.ws__tasks__inner {
	  			border: 1px solid #ddd; 
	  	   	  margin-bottom: 20px;
	  		}
	  	  
	  	  h4 {font-weight: bold; padding: 4px 20px; display: inline;  }
	  	  .table { margin-bottom: 0; }
	  	  .table>thead>tr>th { vertical-align: bottom; border-bottom: 0;}
	  	  .table td {width: 10%; text-align: left; padding: 8px 20px; vertical-align: baseline;}
	  	  .width-90 {width: 90% !important;}
	  	  .table td .checkbox {
	  	  	    display: inline-block; 
	  	  	    margin-top: 1px;
			    margin-bottom: 0px;
			    vertical-align: middle;
	  	  }
	  	  a {font-size: 12px; font-weight: bold; text-decoration: underline; color: #000;}
	  	  
	  	  p.notes {display: inline; font-size: 12px; color: #666666; }
	  	  
	  	 
	  	  a.more { text-decoration: underline; color: #000; font-size: .8em; font-weight: bold;   }
	  	  a:hover.more { text-decoration: underline; color: #000; }

	  	}//person-summery__notes-discuss

.ws__tickets {
	margin-bottom: 100px;
	.header {
		padding: 0px 8px 0px 16px;
		span {margin-right: 10px; font-weight: bold;}
		span a { color: #328600; text-decoration: none;  &:hover { color: #328600; } font-weight: bold;}
		.width24 {width: 30%; display: inline-block; border-right: 1px solid #ddd; padding: 14px 0;}
		.width40 {width: 40%; display: inline-block; padding: 14px 0; padding-left: 20px; border-right: 1px solid #ddd;}
		.width28 {width: 28%; display: inline-block; padding: 14px 0 0 50px;
					position: relative;
			i { position: absolute; left: 26px; top: 16px; font-size: 18px; color: #808080; }
		}
		.form-control {margin-bottom: 0; padding: 0;  }

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #808080;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #808080;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #808080;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #808080;
		}
		:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
		  color:    #808080;
		}

	}
	.ws__tickets__inner {
		border: 1px solid #ddd; 
   	  margin-bottom: 20px;
	}
  
  h4 {font-weight: bold; padding: 8px 20px; display: inline;  }
  .table { margin-bottom: 0; }
  .table>thead>tr>th { vertical-align: bottom; border-bottom: 0;}
  .table td {width: 10%; text-align: left; padding: 8px 20px; vertical-align: baseline;}
  .table td:first-child { width: 10%; }
  .width-10 {width: 10% !important;}
  .width-6 {width: 6% !important;}
  .width-80 {width: 80% !important; }
  
  a {font-size: 12px; font-weight: bold; text-decoration: underline; color: #0000cd;}
  
  p.notes {display: inline; font-size: 12px; color: #666666; }
  
 
  a.more { text-decoration: underline; color: #000; font-size: .8em; font-weight: bold;   }
  a:hover.more { text-decoration: underline; color: #000; }
  p.excerpt { /* display: inline; */ color: #000; margin-bottom: 4px;  }
  span.comment-count a {color: #ccc; font-size: .9em; }
  span.auther a {  font-size: .9em; color: #000; margin-right: 10px; text-decoration: none;  font-weight: normal;  }
  span.critical a {color: #e90000; &:hover { color: #e90000; } font-size: 14px; }
  span.urgent a {color: $orange; &:hover { color:$orange; } font-size: 14px; }
  span.open a {color: $green;  &:hover { color: $green; } font-size: 14px;  }
  span.closed  a {color: #8a8a8a; &:hover { color: #8a8a8a; }  font-size: 14px;  }

  .form-control {
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    border: 0;
    text-align: left;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
    padding: 8px 12px;
}
.form-control:focus {
    border-color: #ccc;
    box-shadow: none;
}

}//person-summery__notes-discuss
	  		.tc__notify {
			  	display: inline-block; 
			  	padding: 1px 10px; 
			  	min-width: 100px;
			  	color: #fff;
			  	font-weight: normal;
			  	text-align: right;
			  	    vertical-align: -webkit-baseline-middle;

			  	
	  		}
		  	.tc__notify--orrage {
		  		background: #ff8c04;
		  	}
		  	.tc__notify--red {
		  		background: #ce0404;
		  	}
		  	.tc__notify--green {
		  		background: #328600;
		  	}

.signup {
	padding: 50px 0; 
}
.signup__inner {

	max-width: 483px; 
	margin-right: auto;
	margin-left: auto;
	border: 2px solid #00a765;
	border-radius: 20px; 
	padding: 20px 30px;
	.form-control{ border-radius: 0;


	} 

	select {
 			color:    #5e5e5e; 
 			font-size: 1.1em; 		
	}

	label {font-weight: normal; font-size: 16px; color: #5e5e5e; }
	h2 {font-weight: bold; color: #00a765; margin-top: 0; }
	p {font-weight: bold; margin-bottom: 20px;  }
	a.reset {color: #0000cd; text-decoration: underline; &:hover { color: #0000cd; } }
	.nofification {
		
		padding: 24px 30px 8px; 
		color: #fff; 
		margin: -20px -30px 0;
		border-top-left-radius: 17px;
		border-top-right-radius: 17px;
		margin-bottom: 20px; 
		&.nofification--red { background:  $red; color: #fff; }
		&.nofification--green { background:  #00a765; color: #fff;}
	}

	.signup__checkbox {
		background: #f6f6f6; 
		margin-right: -30px;
		margin-left: -30px;
		padding: 6px 6px 6px 30px;
		label {font-weight: bold; }


	}
	.btn {padding: 6px 24px; }
}

#add_new {
	ul {
		    text-align: center;
		li {
				padding: 0; 
				a {
					position: relative; 
					color: #666666; 
					display: inline-block;
				min-width: 100px; 
				min-height: 100px; 
				padding:34px 30px;
				border: 1px solid #ddd;
				border-right: 0;
				i {font-size: 100px;}
				&:hover {background: #F5F5F5; }
				span {position: absolute; bottom: 10px;  right: 22%; left: 22%;     margin-left: -10px;
    					margin-right: -10px; }
				}

				&:first-child a { border-top-left-radius: 10px;  border-bottom-left-radius: 10px;  &:hover {background: #F5F5F5; border-top-left-radius: 10px;  border-bottom-left-radius: 10px;  }  }
				&:last-child  a { border-top-right-radius: 10px;  border-bottom-right-radius: 10px;  border-right: 1px solid #ddd; &:hover {background: #F5F5F5; border-top-right-radius: 10px;  border-bottom-right-radius: 10px;  }}
				
			}
	}
	
	.modal-content {
      border-radius: 0px;
      outline: 0;
      -webkit-box-shadow:none;
       box-shadow:none;
    }
    .modal-body {
    	padding: 15px 15px 30px;
    }

    .modal-header {
        padding: 30px 15px 14px;
            padding-left: 30px;
     border-bottom: 0; 
     h4 {color: #585858; font-size: 24px; }
     .close {
         margin-top: 10px;
         font-size: 12px;
         opacity: 0.8;
     }
	}
	
}//modal

#add_new_teammember {
	.modal-header {
        padding: 30px 15px 14px;
     border-bottom: 0; 
     h4 {color: #585858; font-size: 24px; }
     .close {
         margin-top: 10px;
         font-size: 12px;
         opacity: 0.8;
     }
	}
}

.invite-member-modal {
	&.modal-dialog {
    width: 700px; 
	}
	.modal-content {
	    
	    padding: 0 12px;
	}
	.invite-team-members {
		border: 1px solid #ddd; 
		border-radius: 6px; 
		padding: 20px;

		.form-control {border-radius: 0; }
		label {margin-bottom: 10px; color: #585858;  }
		.btn {margin-top: 30px !important;}
		a.avatar {width: 50px; height: 50px; display: inline-block;  }

		::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #585858;
		}
		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #585858;
		   opacity:  1;
		}
		::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #585858;
		   opacity:  1;
		}
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #585858;
		}
		:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
		  color:    #585858;
		}

	}
	.checkbox {
	    display: inline-block;
	    margin-right: 6px; 
	  }

	 .team-m-workspace {
	 	background: #eee; 
	 	padding: 2px 20px;
	 	margin-left: -20px;
	 	margin-right: -20px;
	 	margin-bottom: 20px; 
	 	h4 { font-size: 14px; font-weight: bold; }
	 	border-top: 1px solid #dfdfdf; 
	 }

    
}

		#add_new .invite-member-modal .modal-header {
    	padding: 30px 15px 0px;
	    border-bottom: 0;
	}

#add_new_workspace {

		&.modal {
	    	overflow-y: hidden !important;

		}

		.modal-dialog {
		    width: 700px;
		    margin: 0 auto 30px;
		}
			.modal-body {
			    position: relative;
			    padding: 15px 25px;
			}

	h4 { font-size: 24px; font-weight: normal; color: #585858;  }
	.modal-dialog {
		position: absolute;
		right: 0;

	}
	.modal-content {
      border-radius: 0px;
      outline: 0;
      -webkit-box-shadow:none;
       box-shadow:none;
    }
    .modal-header {
        padding: 30px 15px 14px;
     border-bottom: 0; 
	     .close {
	         margin-top: 10px;
	         font-size: 12px;
	         opacity: 0.8;
	     }
	}
	input {width: 60%; display: inline-block; }
	.radio-inline input { width: auto; }
	input.file { width: 40%; }
	.form-control {
	    box-shadow: none;
	    background-color: transparent;
	    border-radius: 0;
	    background: transparent;
	    box-shadow: none;
	    border: 0;
	    text-align: left;
	    display: inline-block;
	    vertical-align: bottom;
	    padding: 2px 12px;
	    margin-bottom: 0;
	}
	.form-control:focus {
	    border-color: #ccc;
	    box-shadow: none;
	}
	.form-group {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
    	padding-top: 10px;
    	padding-bottom: 10px;
	}

	::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	    color:    #b8b8b8;
	    font-size: 1em; 

	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	   color:    #b8b8b8;
	   font-size: 1em; 
	   opacity:  1;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
	   color:    #b8b8b8;
	   font-size: 1em; 
	   opacity:  1;
	}
	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	   color:    #b8b8b8;
	   font-size: 1em; 
	}
	:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
	  color:    #b8b8b8;
	  font-size: 1em; 
	}
	.no-top-border {
		border-top: 0 !important; 
	}
	span.upload { 
		color: #0095ff;
		
	}
	span.nofity {
		color: #2b587b; 
	}
	
	span.nofity, span.upload {
		margin-right: 4px;
		margin-left: 4px;
		font-size: 14px; 
	}
	
	i {color: #2b587b; }

	.Editor-editor {
	    min-height: 100px !important;
	    height: 100% !important;
	    border: 0 !important;
	}

	
	
}// end 



 #editor {overflow:hidden; max-height:300px}

 

 .modal.sidein .modal-dialog {

	-webkit-transition: -webkit-transform 1s ease-out;
       -o-transition:      -o-transform 1s ease-out;
          transition:         transform 1s ease-out;

	  -webkit-transform: translateX(100%);
	  
	  -moz-transform: translateX(100%);
	  
	  -ms-transform: translateX(100%);
	  
	  transform: translateX(100%);

	}

	.modal.sidein.in .modal-dialog {
		-webkit-transition: -webkit-transform 1s ease-in;
       -o-transition:      -o-transform 1s ease-in;
          transition:         transform 1s ease-in;

  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
       -o-transform: translateX(0);
          transform: translateX(0);
}




#menuBarDiv, #statusbar {
    background-color: transparent !important; 
    background-image: none;
   
    background-repeat: repeat-x;
    border: 0 !important;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: none;
    filter: none;
}


.select-business {
	 
	.select-busi__block {
		display: inline-block;
		margin-right: 20px;
		float: left;
		padding:10px 30px; 
		border: 1px solid #ddd;
		cursor: pointer; 
		h4 {margin:0 ; font-weight: bold; }
		p {color: #000; font-size: 12px; }
		p.active {color: #051848; }
		

	}
}



.open-discussion {
	margin-bottom: 30px;
	border: 1px solid #ddd;
	
	span.upload { 
		color: #0095ff;
		
	}
	span.nofity {
		color: #2b587b; 
	}
	
	span.nofity, span.upload {
		margin-right: 4px;
		margin-left: 4px;
		font-size: 14px; 
	}

	.Editor-editor {
    	
    	border: 0px solid #EEE; 
	}
	
	i {color: #2b587b; }

		input {width: 60%; display: inline-block; }
		.radio-inline input { width: auto; }
		input.file { width: 40%; }
		.form-control {
		    box-shadow: none;
		    background-color: transparent;
		    border-radius: 0;
		    background: transparent;
		    box-shadow: none;
		    border: 0;
		    text-align: left;
		    display: inline-block;
		    vertical-align: bottom;
		    padding: 2px 12px;
		    margin-bottom: 0;
		}
		.form-control:focus {
		    border-color: #ccc;
		    box-shadow: none;
		}
		.form-group {
			padding-top: 15px;
	    	padding-bottom: 0;
	    	padding-left: 8px;
	    	//margin-bottom: 10px;
		}
		.border-top-1 {
			border-top: 1px solid #ddd;
		}
		.gray-placeholder
		{
			&::-webkit-input-placeholder { /* WebKit, Blink, Edge */
			    color:    #b8b8b8;
			}
			&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			   color:    #b8b8b8;
			   opacity:  1;
			}
			&::-moz-placeholder { /* Mozilla Firefox 19+ */
			   color:    #b8b8b8;
			   	opacity:  1;
			}
			&:-ms-input-placeholder { /* Internet Explorer 10-11 */
			   color:    #b8b8b8;
			}
			&:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
			  color:    #b8b8b8;
			}
		}

		&.threads {
			margin-bottom: 10px; 
		}

}


.open-discussion__info {


	background: #f2f2f2;
	padding: 10px 20px;
	img {display: inline-block; margin-right: 10px; }
	p {margin-bottom: 0; font-weight: bold; display: inline-block; }
	a {
		color: #4240cd; 
		text-decoration: underline;
		&:hover, &:focus {
			color:darken( #4240cd, 5% );
			text-decoration: underline;
		}
	}
	select.form-control { background: #fff; max-width: 270px;  } 
	.table>thead>tr>th { vertical-align: bottom; border-bottom: 0;}  

	.table {
		margin-bottom: 0;
		padding: 0;  
		td { padding: 0; border: 0; }
		
	}

		@include breakpoint ($xs) {
			select.form-control { margin-bottom: 10px;  max-width: 300px;  } 
			img {    margin-top: -28px; }
		}

		@include breakpoint ($sm) {
			select.form-control { max-width: 250px; margin-bottom: 10px;  } 
			img {    margin-top: -28px; }
		}

		@include breakpoint ($md) {
			select.form-control { max-width: 223px;  } 
		}

}


.btn-cp {padding: 6px 60px !important;}
.open-discussion__heading {
	font-weight: bold;
    padding: 4px 20px;
    color: #000; 
    border-bottom: 1px solid #ddd;
    .alert-message {
		color: $red; 
		display: inline-block; 
		margin-top: 10px; 
		font-weight: normal;
		i { color: $red;  }

    } 
}

.open-discussion-threads {
	padding-left: 30px; 
	padding-right: 30px;
	
	.media-list {margin-bottom: 50px; }

	.media-body {
	   border: 1px solid #ddd;
	    //padding: 10px 0;
	        padding: 0 0 8px;
	}
	.original-msg {
		.media-body {	 
			background: #f9ffb6;
		}	
	}	
	.media-heading {    
	    border-bottom: 1px solid #ddd; 
	    padding: 10px; 
	}
	h4 {font-size: 14px;  }

	p {
		padding: 10px;
	}
	p.bold{
		margin-bottom: 0; 
		padding-bottom: 0; 
	}
	span.files-attached {
		padding:10px; 
		font-weight: bold;
		font-size: 12px;
		
		//margin-left: 10px; 
	}
	.custom-file-input::-webkit-file-upload-button {
	  visibility: hidden;
	}
	input[type=file] {
		    display: inline-block;
	    max-width: 124px;
	}
	.file-uplaod-wraper	 {
		background: #ebebeb;
		max-height: 28px;	
		margin-top: 6px;
		input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    	outline: none; 
    	}
	}
	

	.custom-file-input::before {
	  content: 'Select some files';
	  display: inline-block;
	  background:  #ebebeb; 
	  //border: 1px solid #999;
	  border-radius: 3px;
	  padding: 5px 8px;
	  outline: none;
	  white-space: nowrap;
	  -webkit-user-select: none;
	  cursor: pointer;
	  text-shadow: 1px 1px #fff;
	  font-weight: 700;
	  font-size: 10pt;
	}
	.custom-file-input:hover::before {
	  border-color: black;
	}
	.custom-file-input:active::before {
	  background:  #ebebeb; 
	}
}

.original-msg_notify {
		border-bottom: 1px solid #ddd; 
	margin-bottom: 20px; 
	p {
		padding:6px 10px;
		background: #ffa800;
		color: #fff;
		max-width:  300px;
		margin-bottom: 0;
		font-size: 14px; 

	}
}

#modal_add_remove_team {

	.modal-content {
		overflow: auto;
    	height: 352px;	
	    padding: 20px 30px;
	    border-radius: 0px;
	    outline: 0;
	    -webkit-box-shadow:none;
	            box-shadow:none;
	  }
		img {display: inline-block; margin-right: 20px; margin-top: -30px;}
	  .user-info {
	  	display: inline-block;

	  	h4 {margin: 0; }
	  }

		.m-t-16 {
			 margin-top: 16px !important;
		}

	   .modal-header {	    
	    	border-bottom: 0;
	    	padding-top: 0; 
		}           

		.modal-footer {
		
		    border-top: 0;
		}

		.row {
		    	border-bottom: 1px solid #ddd; 
				 
				 > [class*='col-'] {
				   padding-top: 10px;
				   
				}
		    	
		}

		.checkbox {
    		margin-top: 14px;
    		color: #757575;  
		}

		.btn {
			padding: 6px 20px; 
			width: 300px; 
		}
}






.Editor-editor {
	margin-left: 5px;
	 height: 150px;
}
.Editor-container {
	padding-left: 10px; 

}

.new-task-discussion {
	// .row [class*='col-'] {
	// 	padding-right: 30px;
 //    	padding-left: 30px;	
	// }

	    margin-bottom: 105px;
	    margin-top: 20px; 
	
    

}

.new-task-discussion_left {
	min-height: 1500px; 
	padding: 14px 20px 20px;
	border: 1px solid #d8d8d8;

	h4 {
		display: inline-block; 
		margin: 0; 
	} 
	p {
		display: inline-block;
		font-size: 1.1em; 
		

	}
	.italic {font-style: italic; }
	
	span.star {
		display: inline-block;
		width: 26px;
		height: 26px;
		background: #ddd; 
		margin-right: 10px;
		background: url('../img/star.png') no-repeat 100%;
		margin-top: -3px;


	}

	span.upload {
	    margin-right: 4px;
	    margin-left: 4px;
	    font-size: 14px;
	    color: #0095ff;
	}

	input {display: inline-block;
    	max-width: 210px;}

    	.form-group {
    		margin-bottom: 0; 
    	}
	
	.notification {
		background: #ff0000;
		color: #fff;
		padding: 6px;
		margin-bottom:  30px;  
		margin-top:  10px;
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;

	}

	.media {
		margin-bottom: 10px;
		
	}
	.media-wrap {
		border-bottom: 1px solid #ddd;  
		margin-left: -20px;
		margin-right: -20px;
		padding: 0 20px;
		margin-top: 20px; 

		&:last-child { border-bottom: 0;   }
	}
	.media-heading {
    	border: 1px solid #ddd;
    	padding: 10px; 
    	display: block;
    	margin-bottom: 10px; 
    	font-weight: bold; 
    	

	}
	.sub-heading {
		font-size: .7em; 
		padding-top: 8px;
		font-weight: normal;
		font-style: italic; 
			}

	.udpate-status-block {
		border: 1px solid #ddd;
		padding: 10px 21px 6px;
		p {display: inline-block;margin-bottom: 0; width: 50%; line-height: 2.3; font-size: 1.2em; }
		select {display: inline-block; width: 50%;  }
		margin-bottom: 20px; 
	}
	.media-body {
		p { font-size: 16px;  }
	}
	img { width: 60px; height: 60px; }
	textarea {margin-bottom: 20px; }
	.upload-btn {color: #2626d1; text-decoration: underline; margin-bottom: 10px; display: inline-block; font-weight: bold; }
	.btn-cp {
    	padding: 10px 44px !important;
    	font-weight: bold; 
	}
	
}//padding: 10px; 

.new-task-discussion_left__heading {
 h4 { color: #000; }
}

.new-task-discussion_right {
	min-height: 1500px; 
	background: #fbfbfb; 
	position: relative;
	padding: 20px; 
	border: 1px solid #d8d8d8;
	padding-top: 75px;
	h4 {font-weight: bold; }
	.nofitcation {
		min-width: 180px;
		padding: 4px;
		position: absolute;
		padding-left: 20px;
		p {margin-bottom: 0; font-size: 18px; }

	}

	.upload-btn {color: #2626d1; text-decoration: underline; margin-bottom: 10px; display: inline-block;  font-style: italic; font-weight: bold; }
	
		span.upload {
		    margin-right: 4px;
		    margin-left: 4px;
		    
		    font-size: 14px;
		    color: #0095ff;
		}

		input {display: inline-block;
	    	max-width: 210px;}

	    	.form-group {
	    		margin-bottom: 0; 
	    	}
	

	.nofitcation_left{
		top: 12px; 
		left: -8px;
	}

	.nofitcation_right{
		top: 12px; 
		right: -8px;
	}

	.nofitcation_yello {
		background: #ffc600;
		color: #000; 

	}

	.nofitcation_red {
		background: #b80000;
		color: #fff; 

	}

	ul li {
		padding: 0 0 8px;
    	font-size: 16px;
    			
    	.tag {min-width: 86px; display: inline-block; }



	}
	span.text {margin-left: 5px; }

				
}




.app-setting-wraper {
	padding: 0 40px;
	
}
.app-setting__innner {
	padding: 0 15px; 
	border: 1px solid #ddd;
	    min-height: 1001px;
}

.app-setting__sidebar {
	min-width: 22%;
	float: left;
	height: 100%; 
	min-height: 1001px;
	border-right: 1px solid #ddd; 
	h5 { background: #f0f0f0; padding: 4px; display: inline-block; width:100%; margin: 0; 
		padding: 10px 20px;
		color: #000;
		font-weight: bold; 
	}

	ul {
			li {
				a {
					padding: 6px 10px; 
					font-size: 13px; 
					font-weight: bold;
					color: #000; 
					&:hover, &:focus {
						text-decoration: none; 
					}

				}

				border-bottom: 1px solid #ddd;   
				padding: 6px 10px;

			}
		} 
}

.app-setting__main {
	//padding:10px 20px  10px 220px ;
	width: 78%; 
	float: left; 

	header {
		color: #000; 
		padding:10px 20px 20px;
		h4 {
			color: #000;
			font-weight: bold; 
		}
	}
		
		.table-todo>thead>tr>th { 
			background: #f0f0f0;  padding:6px 20px; width: 100%;
			vertical-align: bottom; border-bottom: 0;width: 100%;
			color: #000;

		}  	
		.table-todo {
			width: 100%;
			margin-bottom: 80px; 

			a {
				color: blue;
				text-decoration: underline; 
				font-size: 1em;
				font-weight: bold;   
			}
			td {
					padding: 0; 
					border-bottom: 1px solid #ddd; 
					padding: 8px 20px; 
					border-top:0; 
					&:last-child { text-align: right; }
				}
			span.cat{
				display: inline-block;
				width: 14px;
				height: 14px;
				background: #000; 
				margin-right: 4px;

			}
			span.task {
				display: inline-block;
				vertical-align: text-bottom;
				font-weight: bold; 

			}
		}

		footer {
			color: #000; 
			padding:10px 20px 20px;
			.btn {padding: 6px 48px; }
		}


		.app__profile {
			padding:10px 20px 20px;
			color: #000; 
			h4 {font-weight: bold; margin-top: 4px; }
			.profile-detial {
				width: 80%;

			}
				@include breakpoint ($md) {
					.profile-detial {
						width: 75%;
			
						}
				}

				@include breakpoint ($sm) {
					.profile-detial {
						width: 70%;
			
						}
				}
			.media-object {
				margin-right: 20px;
			}
			.heading	{
				p { display: inline-block;  font-size: 18px; color: #7F7878; }
			}

		}
	
	
}

.profile-setting {
	padding:10px 20px 20px;
	.form-control {border-radius: 0; 
			height: 40px; 
		}
	select {
		color: #525252;
	}
	.btn {padding: 6px 48px; }

	label {
		color: #525252;
		font-weight: normal;
		font-size: 1.2em; 

	}
}

#modal-work-flow-status {
	.modal-title {
		color: #000;
	}
	.modal-content {
      
      border-radius: 0px;
      outline: 0;
      -webkit-box-shadow:none;
              box-shadow:none;
    }
    .modal-body {
	    position: relative;
	    padding: 15px;
	    padding-bottom: 130px;
	}	
    .form-control {
    	border-radius: 0; 
    	margin-bottom: 24px;
    }
    .btn {padding: 6px 48px;}
}

.setting__billing {
	width: 78%; 
	float: left;

		@include breakpoint ($sm) {
	 		width: 75%; 
	 	} 
	header {
		color: #000; 
		padding:10px 20px 20px;
		h4 {color: #000;
			font-weight: bold; 
		}

	}

	footer {
			color: #000; 
			padding:10px 20px 20px;
			.btn {padding: 6px 48px; }
		}



	.table-todo>thead>tr>th { 
				background: #f0f0f0;  padding:6px 20px; width: 100%;
				vertical-align: bottom; border-bottom: 0;width: 100%;
				color: #000; 

			}  	
			.table-todo {
				width: 100%;
				margin-bottom: 80px;
				overflow-x: scroll;
		    	min-width: 800px; 

				td {
						vertical-align: middle;
						padding: 0; 
						border-bottom: 1px solid #ddd; 
						padding: 16px 20px; 
						border-top:0; 
						&:last-child { text-align: right; }
					}

				p {
					margin-bottom: 0;
					font-size: 16px; 
				}
				.pending {
					color: $red;
					font-weight: bold;
					font-size: 14px; 
					a {
						color: $red;
						font-size: 14px; 
						font-weight: bold;
						text-decoration: underline;
						&:hover , &:focus {
							color: darken($red, 5%);
						}
					}

				}

				.paid {
					font-weight: bold;
					font-size: 14px; 
					color: $green;	
					
					
					
				}
				a.invoice-btn {
					font-size: 14px; 
						color: #0011b6;	
						font-weight: bold;
						text-decoration: underline;
						&:hover , &:focus {
							color: darken(#0011b6, 5%);
						}
				}
				
			}

}




//invoice Modal
#invoice-modal {

	.invoce-header {
		p {margin-bottom: 0; }
	}

	.modal-header {
	 
	    margin-left: -10px;
	       margin-right: -10px;
	}

	.close {
	     
	    span {
	    		font-size: 12px; 
	    }
	}

	.modal-content {
	      
	      border-radius: 0px;
	      outline: 0;
	      -webkit-box-shadow:none;
	              box-shadow:none;
	       padding: 10px; 
	    }
		
		h4, h5 {color: #000 ; font-weight: bold; }

		.table {margin-top: 20px; }


	    .table>thead>tr>th { vertical-align: bottom; border-bottom: 0; border-top: 1px solid #ddd; border-bottom: 0;
	    						padding: 14px 24px; 
						    	&:first-child {
									border-left: 1px solid #ddd;
						    	}
						    	&:last-child {
									border-right: 1px solid #ddd; 
						    	}
	
	    }  
	    .table tbody td { 
	    	padding: 14px 24px; 
	    	&:first-child {
				border-left: 1px solid #ddd;
	    	}
	    	&:last-child {
				border-right: 1px solid #ddd; 
	    	}
	    	
	    	
	    }
	    .table tr {
	    	&:last-child {
	    		td {
	    			margin-top: 10px; 
	    		}
	    	}
	    }
	    .t-body td {
	    	height: 200px; 
	    }

	    .coupen td {

	    }
	    .total td {background: #fdec56; font-weight: bold;  }

	    footer {
	    	max-width: 600px; 
	    	display: block;
	    	margin-right: auto;
	    	margin-left: auto;

	    	.bnt-payment {
		    	color: blue;
		    	text-decoration: underline;
		    	font-size: 26px; 
		    	text-align: center; 
		    	

	    	}
	    	p  {
	    		margin-top: 16px;
	    		font-size: 12px; 
	    		color: #ddd; 
	    	}

	    }


}

.app-setting__team-m {

	//padding:10px 20px  10px 220px ;
	width: 78%; 
	float: left; 

	header {
		color: #000; 
		padding:10px 20px 20px;
		h4 {font-weight: bold; }
		p {display: inline-block; }
		a {
				color: blue;
				text-decoration: underline; 
				font-size: 1em;
				margin-right: 6px;
				font-weight: bold;
				float: right;  
		}
			@include breakpoint ($sm) {
				a {
					float: none;
					display: block;  
				}
			}

	}

	
	.table-todo>thead>tr>th { 
		background: #f0f0f0;  padding:6px 20px; width: 100%;
		vertical-align: bottom; border-bottom: 0;width: 100%;
		color: #000; 

	}  	
	.table-todo {
		width: 100%;
		margin-bottom: 80px;
		min-height: .01%;
  		overflow-x: scroll;
    	min-width: 800px;

		img,  {display: inline-block; vertical-align: baseline; width: 30px; height: 30px;  } 
		img {margin-right: 10px; }
		h4 {margin-bottom: 0; }

		a {
			color: blue;
			text-decoration: underline; 
			font-size: 1em;
			margin-right: 6px;
			font-weight: bold;  
		}
		td {
				
				border-bottom: 1px solid #ddd; 
				padding: 14px 20px; 
				border-top:0; 
				vertical-align: middle; 
				&:last-child { text-align: right; }
			}
		.active {
			color: #007000;
			font-size: 1.2em;
			font-weight: bold; 

		}
		.inactive {
			color: #636363; 
			font-size: 1.2em;
			font-weight: bold; 
		}

		.user-status {
			background: #007000;
			padding: 8px 14px; 
			color: #fff; 
			font-weight: bold; 
		}
		.inline-block {
			span {font-size: 1.2em; margin-right: 12px; }
		}
		
	}


	footer {
			color: #000; 
			padding:10px 20px 20px;
			.btn {padding: 6px 48px; }
		}


}/// end
