.file-uploader-wraper	 {
	.droppable .profile-avatar-wrap {
				  border: 5px dashed lightblue;
				  z-index: 9999;
				}

				.page-wrap {

				  width: 960px;
				  margin: 100px auto;
				}

				
				.profile {
				  width: 50%;
				  margin-bottom: 20px;

				}
				.profile-avatar-wrap {
				  width: 100%;
				  float: none;
				  margin: 18px 20px 5px 0;
				  position: relative;
				  pointer-events: none;
				 border: 1px solid #ddd;
				     border-radius: 4px;
				}
				.profile-avatar-wrap:after {
				  /* Drag Prevention */
				  content: "";
				  position: absolute;
				  top: 0;
				  left: 0;
				  width: 100%;
				  height: 100%;
				}
				.profile-avatar-wrap img {
				  width: 100%;
				  display: block;
				      border-radius: 4px;
				}
				.location {
				  text-transform: capitalize;
				  color: #999;
				  letter-spacing: 1px;
				  margin: 0 0 10px 0;
				  font-size: 90%;
				}
				.location h5 { 
					color: #5e5e5e;
					margin-top: 30px; 
					font-size: 16px; 
					font-weight: normal !important; 
				}	
}// end




.btn.btn-file {
		padding: 6px 14px;
		border-color: #ddd;
	}


	.btn-file {
    overflow: hidden;
    position: relative;
    padding: 8px 30px;
	}


.btn-file input[type="file"] {
    background: white none repeat scroll 0 0;
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: medium none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}