/*
 * ----------------------------------------------------------------------------------------
 * Responsive.
 * ----------------------------------------------------------------------------------------
 */
 @media (max-width: 767px) {
  	
  	.projects {
		padding: 0 30px; 
	}
  .ws__tickets {
      .col-xs-12 {
      padding: 0 25px;
      margin-bottom: 12px;
    }
    
    h4 {
      padding: 0;
      margin-right: 10px; 
    }
    .col-md-4 {
      border-left: 1px solid #ddd; 
      border-right: 1px solid #ddd; 
    }

  }


  .signup__inner {
    .col-sm-6{
      padding: 0 !important;
    }
    
  }


  

  
  
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  	.container {
    	width: 1150px;
	}
}