/*
 * ----------------------------------------------------------------------------------------
 * Responsive.
 * ----------------------------------------------------------------------------------------
 */




 @media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

	.headwrap__blue  {
		input {
			margin-right: auto !important;
    		margin-left: auto !important;
		}	
	}

  .cta .cta-price {
   
   float: none;
   margin-left: auto; 
   margin-right: auto; 
  }

  .cta ul {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }

  
	

}

 


@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
    .cta-2 .arrow {
      position: absolute;
      top: 35px;
      left: 104px;
  }
}




@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}




@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}