/*
 * ----------------------------------------------------------------------------------------
 * Sidebar styles.
 * ----------------------------------------------------------------------------------------
 */
.container-projoo {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container-projoo {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container-projoo {
    width: 990px;
  }
}
@media (min-width: 1200px) {
  .container-projoo {
    width: 990px;
  }
}