/* 
 * ----------------------------------------------------------------------------------------
 * Global Style.
 * ----------------------------------------------------------------------------------------
 */
 

 /* Font-Face */
	@font-face {
	font-family: 'AvenirLTStd';
	src: url(../fonts/AvenirLTStd-Book.otf);
	       
	}
	@font-face {
	font-family: 'AvenirLTStd';
	src: url(../fonts/AvenirLTStd-Heavy.otf);
	 font-weight: bold;
       
	}

	@font-face {
	font-family: 'AvenirLTStd';
	src: url(../fonts/AvenirLTStd-Black.otf);
	font-weight: 700;
	       
	}

	@font-face {
	font-family: 'AvenirLTStd';
	src: url(../fonts/AvenirLTStd-Oblique.otf);
	  font-style: italic;
	       
	}


	

body {
	font-family: 'AvenirLTStd';
}
h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'AvenirLTStd';

}

h1 {
	font-size: 48px; 
}

h2 {
	font-size: 26px; 
}
p {
	font-size: 16px; 
}