$orange: #fca344;
.orange {
	color: $orange;
}


$blue-bg: #8dc1ff;
.blue-bg {
	color: $blue-bg;
}

$green: #3edd00;z
.green {
	color: $green;
}


$blue-dark: #003471;
.blue-dark {
	color: $blue-dark;
}

$blue-text: #0072bc;
.blue-text {
	color: $blue-text;
}
$gray-text: #333333;
.gray-text {
	color: $gray-text;
}
 
// cta-bg  f5f5f5
// border  d4d4d4

//b f7fcff
// bordr e5f1f8