// assume min-width (by default) if only a number
$xs:  max-width 767px;
// set min-width/max-width if both values are numbers
$sm: 768px 991px;

$md: 992px 1199px;

$lg: 1200px;


$orange: #ff8c04;
.orange {
	color: $orange;
}


$red: #ea0000;
.red {
	color: $red !important;
}

$blue: #0011b6;
.blue {
	color: $blue !important;
}



$yellow: #ffd800;
.yellow {
	color: $yellow;
}

$green: #328600;
.green {
	color: $green;
}

.footer-bg {background: #5c5c5c; }

// heading colro 585858

// green button color #00a765
// blue color 0000cd
// cancle btn bg e6eff6 and colro 1f4460

// red lable ce0404

// oragne label  ff8c04
// green lable 328600


// disabled text colro a3a3a3

// top notification panel colro fff8cf